#body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(64, 95, 116);
}

#loadingGif {
    background: transparent;
    border-radius: 100px;
    margin: auto;
    align-content: center;
    align-self: center;
    position: absolute;
    width: auto;
    top: 250px;
    left: 42%;
}

#h1 {
    text-align: center;
    font-size: 48px;
    font-family: sans-serif;
    color: aliceblue;
    text-decoration: overline;
    font-variant: petite-caps;
    top: 50px;
    margin: auto;
    position: relative;
}


#mainDiv {
    margin: auto;
    display: inline-flex;
    width: 100%;
    position: absolute;
    justify-content: center;
    top: 500px;
    margin-left: 20px;
}

.mainButtons {
    width: 150px;
    height: 80px;
    margin-right: 40px;
    border-radius: 5px;
    font-family: fantasy;
    color: aliceblue;
    background-color: coral;
    font-size: 20px;
}

.mainButtons:hover {
    background-color: rgb(214, 136, 108);
    transition: ease;
    transition-duration: 0.3s;
    cursor: pointer;
}

#regForm {
    border-style: double;
    margin: auto;
    width: 20%;
    justify-content: center;
    display: grid;
    top: 250px;
    position: relative;
    background-color: coral;
    padding: 30px;
    border-radius: 5px;
    border-color: antiquewhite;
}

.regFormLabels {
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
    color: aliceblue;
    text-decoration: overline;
}

.inputsReg {
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: hidden;
    font-family: sans-serif;
}

.formsBut {
    border-radius: 3px;
    border-style: solid;
    border-color: burlywood;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    color: darkslategray;
    height: 40px;
}

.formsBut:hover {
    background-color: rgb(190, 185, 185);
    cursor: pointer;
    transition: ease;
    transition-duration: 0.3s;
}

#voltarButtom {
    border-radius: 3px;
    border-style: solid;
    border-color: dimgrey;
    font-size: 14px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    color: aliceblue;
    height: 40px;
    margin: auto;
    left: 60px;
    background-color: coral;
    position: relative;
    width: 100px;
}

#voltarButtom:hover {
    background-color: rgb(214, 136, 108);
    cursor: pointer;
    transition: ease;
    transition-duration: 0.3s;
}

#logForm {
    border-style: double;
    margin: auto;
    width: 20%;
    justify-content: center;
    display: grid;
    top: 250px;
    position: relative;
    background-color: coral;
    padding: 30px;
    border-radius: 5px;
    border-color: antiquewhite;
}

.logFormLabels {
    font-size: 20px;
    font-family: monospace;
    font-weight: 700;
    color: aliceblue;
    text-decoration: overline;
}

.inputsLog {
    margin-bottom: 10px;
    border-radius: 4px;
    border-style: hidden;
    font-family: sans-serif;
}

#respDiv {
    background-color: #fb3b3b78;
    width: 200px;
    position: relative;
    max-width: 200px;
    margin: auto;
    bottom: 60px;
    border-radius: 2px;
    height: 50px;
    text-align: center;
}

#loginResp {
    text-align: center;
    margin: 0;
    position: relative;
    top: 15px;
    font-size: 16px;
    font-family: sans-serif;
    color: aliceblue;

}

