/* Corona virus site styles */

body {
    background-image: url("https://images.unsplash.com/photo-1583324113626-70df0f4deaab?ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80");
    background-position-x: 3cm;
    background-position-y: 1cm;
}

#headDiv {
    position: relative;
    background-color: rgba(250, 235, 215, 0.726);
    border: antiquewhite;
    border-radius: 12px;
    width: 20cm;
    height: 3cm;
    left: 380px;
   
}

#title1 {
    text-align: center;
    color: brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#subtitulo1 {
    position: relative;
    text-align: center;
    color: darkslategray;
    font-style: italic;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -0.3cm;
}

#subtitulo2 {
    position: relative;
    color: rgb(245, 245, 245);
    font-style: italic;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 0.5cm;
}

#APIRef:hover {
    color: mediumpurple;
}


#time {
    position: relative;
    text-align: center;
    color: darkslategray;
    font: italic bold 15px helvetica;
    top: 0.6cm;
}

/*Editing the Data dashboard*/

.dashboardDivs1 {
    position: relative;
    background-color: rgba(250, 235, 215, 0.726);
    border: antiquewhite;
    border-radius: 12px;
    width: 7cm;
    height: 2cm;
    left: 120px;
    top: 1cm;
}

.dashboardDivs2 {
    position: relative;
    background-color: rgba(250, 235, 215, 0.726);
    border: rgb(207, 66, 41);
    border-radius: 12px;
    width: 7cm;
    height: 2cm;
    left: 600px;
    top: -4cm;
}

.dashboardDivs3 {
    position: relative;
    background-color: rgba(250, 235, 215, 0.726);
    border: antiquewhite;
    border-radius: 12px;
    width: 7cm;
    height: 2cm;
    left: 1000px;
    top: -8.8cm;
}

.caseTitle1 {
    position: relative;
    color: brown;
    font: bold 18px helvetica;
    left: 0.5cm;
    top: 0.2cm;
}

.caseTitle2 {
    position: relative;
    color: brown;
    font: bold 18px helvetica;
    left: 0.3cm;
    top: 0.25cm;
}

.caseTitle3 {
    position: relative;
    color: brown;
    font: bold 18px helvetica;
    left: 2cm;
    top: 0.2cm;
}

.caseTitle4 {
    position: relative;
    color: brown;
    font: bold 18px helvetica;
    left: 1cm;
    top: 0.2cm;
}

.caseTitle5 {
    position: relative;
    color: brown;
    font: bold 18px helvetica;
    left: 1.5cm;
    top: 0.2cm;
}

.caseTitle6 {
    position: relative;
    color: brown;
    font: bold 18px helvetica;
    left: 0.7cm;
    top: 0.2cm;
}

.dataDisplay {
    position: relative;
    color: rgb(15, 15, 15);
    left: 3cm;
    font: bold 18px helvetica;
}